dataset_Kipasti/
dataset_filter/

/results/

golden_translate/*
!golden_translate/script/
dataset_finale/*
!dataset_finale/script/

scripts/__pycache__
validation_gemma_golden/__pycache__
Minerva7B/T1_Traduzione/.virtual_documents/


Minerva7B/**/adapter_final/
Minerva7B/**/checkpoint-*/

**/optimizer.pt
**/scheduler.pt
**/rng_state.pth
**/scaler.pt

*.safetensors

Minerva7B/**/predizioni_test.csv


Minerva7B/T1_Traduzione/cpt/

train.csv
dev.csv
test.csv
metrics_history.csv


__pycache__/
*.pyc
